@{
    ViewData["Title"] = "Cart Overview";
}

<h2 class="text-bg-success text-center">Your order has been placed!</h2>
<h4 class="text-bg-info text-center">Your can track the status of your order in your account.</h4>